#home-page-card {
  margin-top: 10px;
}

.mat-expansion-panel-header-description {
  margin-right: 0;
}

.visualBox {
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
}

.room.mat-card {
  margin:0;
  box-shadow: unset;
}

.machines.mat-expansion-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: unset;
}

.machine-link {
  position: relative;
  top: -50px;
  z-index: 2;
}

.machine-link:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.machine-link a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.g-signin2 {
  position: relative;
  top: -100px;
  z-index: 2;
  margin-left: 1100px;
}

.url {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  background: white;
  color: black;
  border-bottom: solid 6px lightgray;
  border-radius: 3px;
}
